.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}


/* ヘッダー全体 */
.header {
    background: #000;
    height: 80px;
}

/* 横幅 */
.header__inner {
    max-width: 1512px;
    margin: 0 auto;
    padding: 0 30px;
    height: 100%;
}

/* ロゴと右メニュー */
.header-utilities {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

/* ロゴ */
.header__logo img {
    width: 370px;
}

/* nav */
.header-nav {
    display: flex;
    align-items: center;
    gap: 40px;

    list-style: none;
}

/* リンク */
.header-nav__link {
    color: #fff;

    font-size: 24px;
    font-weight: 700;

    text-decoration: none;
}

/* logoutボタン */
.header-nav__button {
    border: none;
    background: transparent;

    color: #fff;

    font-size: 24px;
    font-weight: 700;

    cursor: pointer;
}