.register {
    width: 680px;
    margin: 80px auto 0;
}

.register__title {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 60px;
}

.register__group {
    margin-bottom: 35px;
}

.register__group label {
    display: block;

    font-size: 24px;
    font-weight: 700;

    margin-bottom: 10px;
}

.register__group input {
    width: 680px;
    height: 60px;

    border: 1px solid #000;
    border-radius: 4px;

    padding: 10px;

    box-sizing: border-box;

    font-size: 18px;
}

.register__button {
    width: 680px;
    height: 60px;

    background: #000;
    color: #fff;

    border: none;
    border-radius: 5px;

    font-size: 26px;
    font-weight: 700;

    margin-top: 40px;

    cursor: pointer;
}

.register__login {
    text-align: center;
    margin-top: 30px;
}

.register__login a {
    color: #0073CC;
    font-size: 20px;
    text-decoration: none;
}

.register__error {
    color: red;
    margin-top: 5px;
}